DATABASE_URL="postgresql://neondb_owner:"
JWT_SECRET="changeme_generate_your_own_random_64_byte_hex_string"
JWT_EXPIRES_IN="365d"
PORT=3000
NODE_ENV=development
UPLOAD_DIR="uploads"
MAX_FILE_SIZE=52428800
